@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h1>Thống kê</h1>
    <p>Số lượng sản phẩm: @ViewBag.soluongSP</p>
    <p>Số lượng đơn hàng: @ViewBag.soluongDH</p>
    <p>Doanh thu: @ViewBag.doanhThu VNĐ</p>
</div>
